.mlinks {
    margin-left: 20%;
}

.homeb {
    margin-top: 2em;
}

.enW {
    width: 12em;
}

a:hover {
    text-decoration: underline;
}

.loginb {
    margin-top: 6%;
}

.b-ack {
    background-color: aquamarine;
}